.boxView{
    display:block;
    float: left;
    margin-left:20px;
    width:30%;
    border:1px solid #1e62d0;
    border-top-left-radius:4px;
    border-top-right-radius:4px; padding-bottom:20px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    cursor:pointer; margin-bottom:30px;
    height: 360px;
    word-wrap: break-word;
    text-align: left;
    background-color: lightgray;
}

.boxView:hover{border-color:cornflowerblue;
    box-shadow:0px 1px 8px cornflowerblue;}

.boxImage{


}

.boxText{

}