<IfModule mod_rewrite.c>

RewriteEngine On

#RewriteCond %{HTTP_HOST} ^generic\.cjcornell\.com [NC]
#RewriteRule ^(.*) - [L]
#RewriteCond %{HTTP_HOST} !^www\.cjcornell\.com [NC]
#RewriteRule ^(.*) http://www.cjcornell.com/$1 [L,R=301]

</IfModule>