body{margin: 0 auto;padding: 0;width: 100%;}
#mainWrapper{float: left;margin: 0 auto;padding: 0;width: 100%; background-color:#9999FF}
#headerWrapper{margin: 0 auto; padding-top: 2%;	width: 100%;	background-color: #333333; padding-bottom: 2%;}	
#headerWrapper a{text-decoration:none;color:#FFFFFF;}

#left_content{float:left; width:50%; font-size:18px;}
#right_content{float:right; width:50%;text-align: right;}

#contentWrapper{margin: 0 auto; padding-top: 2%; width: 100%;	background-color: #FFFFFF; padding-bottom: 2%; min-height:600px;}
#content{margin: 0 auto; width: 80%;}
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	width:100%;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #1FA014;
	background-color: #75EB7A;
	text-align:left;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
#wrapper {



        width: 35%;



        margin:10% auto;



        font-family:Verdana, sans-serif;



    }



.login_form legend {



	color:#0481b1;



	font-size:16px;



	padding:0 10px;



	background:#fff;



	-moz-border-radius:4px;



	box-shadow: 0 1px 5px rgba(4, 129, 177, 0.5);



	padding:5px 10px;



	text-transform:uppercase;



	font-family:Helvetica, sans-serif;



	font-weight:bold;



}



.login_form fieldset {



	border-radius:4px;



	background: #fff; 



	background: -moz-linear-gradient(#fff, #f9fdff);



	background: -o-linear-gradient(#fff, #f9fdff);



	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f9fdff)); /



	background: -webkit-linear-gradient(#fff, #f9fdff);



	padding:20px;



	border-color:rgba(4, 129, 177, 0.4);



}



    .login_form input,



    .login_form textarea {



        color: #373737;



        background: #fff;



        border: 1px solid #CCCCCC;



        color: #aaa;



        font-size: 14px;



        line-height: 1.2em;



        margin-bottom:15px;







        -moz-border-radius:4px;



        -webkit-border-radius:4px;



        border-radius:4px;



        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);



    }



    .login_form input[type="text"],



    .login_form input[type="password"]{



        padding: 8px 6px;



        height: 22px;



        width:280px;



    }



    .login_form input[type="text"]:focus,



    .login_form input[type="password"]:focus {



        background:#f5fcfe;



        text-indent: 0;



        z-index: 1;



        color: #373737;



        -webkit-transition-duration: 400ms;



        -webkit-transition-property: width, background;



        -webkit-transition-timing-function: ease;



        -moz-transition-duration: 400ms;



        -moz-transition-property: width, background;



        -moz-transition-timing-function: ease;



        -o-transition-duration: 400ms;



        -o-transition-property: width, background;



        -o-transition-timing-function: ease;



        width: 380px;



        



        border-color:#ccc;



        box-shadow:0 0 5px rgba(4, 129, 177, 0.5);



        opacity:0.6;



    }



    .login_form input[type="submit"]{



        background: #222;



        border: none;



        text-shadow: 0 -1px 0 rgba(0,0,0,0.3);



        text-transform:uppercase;



        color: #eee;



        cursor: pointer;



        font-size: 15px;



        margin: 5px 0;



        padding: 5px 22px;



        -moz-border-radius: 4px;



        border-radius: 4px;



        -webkit-border-radius:4px;



        -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);



        -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);



        box-shadow: 0px 1px 2px rgba(0,0,0,0.3);



    }



	.login_form input[type="reset"]{



        background: #222;



        border: none;



        text-shadow: 0 -1px 0 rgba(0,0,0,0.3);



        text-transform:uppercase;



        color: #eee;



        cursor: pointer;



        font-size: 15px;



        margin: 5px 0;



        padding: 5px 22px;



        -moz-border-radius: 4px;



        border-radius: 4px;



        -webkit-border-radius:4px;



        -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);



        -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);



        box-shadow: 0px 1px 2px rgba(0,0,0,0.3);



    }



    .login_form textarea {



        padding:3px;



        width:96%;



        height:100px;



    }



    .login_form textarea:focus {



        background:#ebf8fd;



        text-indent: 0;



        z-index: 1;



        color: #373737;



        opacity:0.6;



        box-shadow:0 0 5px rgba(4, 129, 177, 0.5);



        border-color:#ccc;



    }



    .small {



        line-height:14px;



        font-size:12px;



        color:#999898;



        margin-bottom:3px;



    }



.jqerror{
	color:#FF0000;
}
#error img, #message img{width:5%;}
.content{width: 80%; margin: 0 auto;}
#users table{width:50%; margin: 0 auto;}
.search_box_wrapper .serach_box{
	margin: 0 auto;
	padding: 2%;
	background-color: #c3c3c3;
}
#profile{
	width:100%;
	margin:0 auto;
}
#users_list tr th{
	margin:0px auto;
	padding:0px;
	text-align: left;
}
#user_profile_form .form_element{
	margin: 0px auto;
	padding: 0px;
	width: 30%;
	text-align: center;
}
#user_profile_form .form_element label{ 
	margin: 0px auto;
	padding: 0px;
	width: 45%;
	float: left;
	text-align: left;
}
#user_profile_form .form_element span{ 
	margin: 0px auto;
	padding: 0px;
	width: 45%;
}
#user_profile_form .form_element input[type='submit']{
	margin-left: 160px;
}
#profile .title{
	margin:0px auto;
	padding:2%;
	background-color: #c3c3c3;
}




@media (max-width: 360px){



	#wrapper {



        width: 100%;



    }



}

.message{
	margin: 0px auto;
	padding: 0;
	width: 100%;
	text-align: center;
	border: 1px solid #009933;
	background-color: #33CC99;
	border-radius: 3px;
}
.fieldset-wrapper{margin: 0 auto;width: 60%;}
.form-controller{width:50%; float:left;min-height: 50px;}
.form-controller span{width:35%; float:left}
.form-controller label{text-align:center;}
.form-controller p{margin: 0px;padding: 0px;}
